In [1]:
# !pip install GetOldTweets3
import GetOldTweets3 as got
import codecs
import pandas as pd

In [2]:
def scrape_tweets(scrape_information):
    tweets = got.manager.TweetManager.getTweets(scrape_information)
    fire_tweets = []
    for tweet in tweets:
        scraped_tweets = {}
        scraped_tweets['tweet'] = tweet.text
        fire_tweets.append(scraped_tweets)
    return fire_tweets

In [ ]:
#setting display setting large to help with visualizations of results
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [ ]:
keyword = 'earthquake'
parameters = got.manager.TweetCriteria()\
                .setMaxTweets(1000)\
                .setSince('2019-08-04')\
                .setUntil('2019-07-08')\
                .setNear('35.6225,-117.6709')\
                .setWithin('60mi');
ridgecrest_earthquake_tweets = scrape_tweets(parameters)

In [ ]:
ridgecrest_tweets = pd.DataFrame(ridgecrest_earthquake_tweets)
ridgecrest_tweets

In [ ]:
# assign appropriate column names
ridgecrest_tweets.columns = ['text']

In [ ]:
ridgecrest_tweets.loc[150:, 'time'] = '2019-07-05 10:00:00'

In [ ]:
ridgecrest_tweets['time']

In [ ]:
# convert datetime string to datetime data type
ridgecrest_tweets['time'] = pd.to_datetime(ridgecrest_tweets['time'])

In [ ]:
# assign approximate long and lat values for individual tweets
ridgecrest_tweets['long'] = 35.6225
ridgecrest_tweets['lat'] = -117.6709

In [ ]:
ridgecrest_tweets

In [ ]:
ridgecrest_tweets.shape

In [ ]:
ridgecrest_tweets.to_csv('ridgecrest_quake_20190704.csv')

In [ ]:
keyword = 'quake'
parameters = got.manager.TweetCriteria()\
                .setQuerySearch(keyword)\
                .setMaxTweets(100000)\
                .setSince('2014-08-23')\
                .setUntil('2014-08-28')\
                .setNear('46.3091,-79.4608')\
                .setWithin('60mi');
northbay_quake_tweets = scrape_tweets(parameters)

In [ ]:
northbay_quake_tweets = pd.DataFrame(northbay_quake_tweets)
northbay_quake_tweets

In [ ]:
keyword = 'flood'
parameters = got.manager.TweetCriteria()\
                .setQuerySearch(keyword)\
                .setMaxTweets(10000)\
                .setSince('2017-01-07')\
                .setUntil('2017-01-25')\
                .setNear('38.4504698,-123.1294482')\
                .setWithin('60mi');
guerneville_flood_tweets = scrape_tweets(parameters)

In [ ]:
guerneville_flood_tweets = pd.DataFrame(guerneville_flood_tweets)
guerneville_flood_tweets

In [ ]:
# assign appropriate column names
guerneville_flood_tweets.columns = ['text']

In [ ]:
guerneville_flood_tweets['time'] = '2017-01-07 10:00:00'

In [ ]:
# convert datetime string to datetime data type
guerneville_flood_tweets['time'] = pd.to_datetime(guerneville_flood_tweets['time'])

In [ ]:
# assign approximate long and lat values for individual tweets
guerneville_flood_tweets['long'] = 38.4504698
guerneville_flood_tweets['lat'] = -123.1294482

In [ ]:
guerneville_flood_tweets

In [ ]:
guerneville_flood_tweets.to_csv('guerneville_flood_tweets_20170107.csv')

In [ ]:
keyword = 'fire'
parameters = got.manager.TweetCriteria()\
                .setQuerySearch(keyword)\
                .setMaxTweets(10000)\
                .setSince('2017-09-01')\
                .setUntil('2017-09-24')\
                .setNear('34.2322,-118.3617')\
                .setWithin('60mi');
latuna_fire_tweets = scrape_tweets(parameters)

In [ ]:
latuna_fire_tweets = pd.DataFrame(latuna_fire_tweets)
latuna_fire_tweets

In [ ]:
# assign appropriate column names
latuna_fire_tweets.columns = ['text']

In [ ]:
latuna_fire_# convert datetime string to datetime data type
latuna_fire_tweets['time'] = pd.to_datetime(latuna_fire_tweets['time'])tweets['time'] = '2017-09-01 10:00:00'

In [ ]:
# convert datetime string to datetime data type
latuna_fire_tweets['time'] = pd.to_datetime(latuna_fire_tweets['time'])

In [ ]:
# assign approximate long and lat values for individual tweets
latuna_fire_tweets['long'] = 34.2322
latuna_fire_tweets['lat'] = -118.3617

In [ ]:
latuna_fire_tweets

In [ ]:
latuna_fire_tweets.to_csv('latuna_fire_tweets_20170901.csv')

In [3]:
keyword = ''
parameters = got.manager.TweetCriteria()\
                .setMaxTweets(50000)\
                .setSince('2019-08-20')\
                .setUntil('2019-09-06')\
                .setNear('34.1826,-118.4397')\
                .setWithin('60mi');
la_tweets = scrape_tweets(parameters)

In [4]:
la_tweets = pd.DataFrame(la_tweets)
la_tweets

                                                   tweet
0                             pic.twitter.com/3VCVQKyBmm
1      Tuesday, i saw no more #ghosttownalive founder...
2                              Of course ALL THE ABOVE!!
3                   I'm too busy looking for the talent.
4      It's a fire going on in Tenaja, Ca pretty much...
...                                                  ...
49995    I CANT WAIT FOR MY BIG ASS BED TO COME TOMORROW
49996  I love my sister so much. She’s my right and l...
49997  The Social media universe is nearly ready to a...
49998                                      Stop slacking
49999                      @REALL_SLIM bro you see that?

[50000 rows x 1 columns]

In [5]:
# assign appropriate column names
la_tweets.columns = ['text']

In [6]:
la_tweets['time'] = '2019-08-20 10:00:00'

In [7]:
# convert datetime string to datetime data type
la_tweets['time'] = pd.to_datetime(la_tweets['time'])

In [9]:
# assign approximate long and lat values for individual tweets
la_tweets['long'] = 34.1826
la_tweets['lat'] = -118.4397

In [10]:
la_tweets

,text,time,long,lat
0,pic.twitter.com/3VCVQKyBmm,2019-08-20 10:00:00,34.1826,-118.4397
1,"Tuesday, i saw no more #ghosttownalive founder...",2019-08-20 10:00:00,34.1826,-118.4397
2,Of course ALL THE ABOVE!!,2019-08-20 10:00:00,34.1826,-118.4397
3,I'm too busy looking for the talent.,2019-08-20 10:00:00,34.1826,-118.4397
4,"It's a fire going on in Tenaja, Ca pretty much...",2019-08-20 10:00:00,34.1826,-118.4397
...,...,...,...,...
49995,I CANT WAIT FOR MY BIG ASS BED TO COME TOMORROW,2019-08-20 10:00:00,34.1826,-118.4397
49996,I love my sister so much. She’s my right and l...,2019-08-20 10:00:00,34.1826,-118.4397
49997,The Social media universe is nearly ready to a...,2019-08-20 10:00:00,34.1826,-118.4397
49998,Stop slacking,2019-08-20 10:00:00,34.1826,-118.4397
49999,@REALL_SLIM bro you see that?,2019-08-20 10:00:00,34.1826,-118.4397

In [12]:
la_tweets.drop_duplicates(subset='text', inplace=True)

In [13]:
la_tweets.shape

(48353, 4)

In [14]:
la_tweets

,text,time,long,lat
0,pic.twitter.com/3VCVQKyBmm,2019-08-20 10:00:00,34.1826,-118.4397
1,"Tuesday, i saw no more #ghosttownalive founder...",2019-08-20 10:00:00,34.1826,-118.4397
2,Of course ALL THE ABOVE!!,2019-08-20 10:00:00,34.1826,-118.4397
3,I'm too busy looking for the talent.,2019-08-20 10:00:00,34.1826,-118.4397
4,"It's a fire going on in Tenaja, Ca pretty much...",2019-08-20 10:00:00,34.1826,-118.4397
...,...,...,...,...
49995,I CANT WAIT FOR MY BIG ASS BED TO COME TOMORROW,2019-08-20 10:00:00,34.1826,-118.4397
49996,I love my sister so much. She’s my right and l...,2019-08-20 10:00:00,34.1826,-118.4397
49997,The Social media universe is nearly ready to a...,2019-08-20 10:00:00,34.1826,-118.4397
49998,Stop slacking,2019-08-20 10:00:00,34.1826,-118.4397
49999,@REALL_SLIM bro you see that?,2019-08-20 10:00:00,34.1826,-118.4397

In [22]:
la_fire_tweets = la_tweets[la_tweets['text'].str.contains('fire')]
la_fire_tweets

,text,time,long,lat
4,"It's a fire going on in Tenaja, Ca pretty much...",2019-08-20 10:00:00,34.1826,-118.4397
161,Due to Unhealthy air Conditions because of the...,2019-08-20 10:00:00,34.1826,-118.4397
429,https://www.latimes.com/california/story/2019-...,2019-08-20 10:00:00,34.1826,-118.4397
584,The same guy who got fired for being homophobi...,2019-08-20 10:00:00,34.1826,-118.4397
1135,@RockstarGames #RockstarGames #GTAPhotographer...,2019-08-20 10:00:00,34.1826,-118.4397
...,...,...,...,...
48700,"The #TenajaFire near Murrieta, CA is at 1000 a...",2019-08-20 10:00:00,34.1826,-118.4397
48745,Wow! This fire looks out of control,2019-08-20 10:00:00,34.1826,-118.4397
49006,That’ll be a fire cat-walk lolhttps://twitter....,2019-08-20 10:00:00,34.1826,-118.4397
49643,"I know I promised every Wednesday, but I’d rat...",2019-08-20 10:00:00,34.1826,-118.4397
49986,I'm telling you out alive is fire my favorite ...,2019-08-20 10:00:00,34.1826,-118.4397

In [20]:
la_nonfire_tweets = la_tweets[~la_tweets['text'].str.contains('fire')]

In [23]:
la_nonfire_1600 = la_nonfire_tweets.iloc[:1600, :]

In [25]:
la_nonfire_1600['target'] = 0

c:\users\sibel\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
la_nonfire_1600

,text,time,long,lat,target
0,pic.twitter.com/3VCVQKyBmm,2019-08-20 10:00:00,34.1826,-118.4397,0
1,"Tuesday, i saw no more #ghosttownalive founder...",2019-08-20 10:00:00,34.1826,-118.4397,0
2,Of course ALL THE ABOVE!!,2019-08-20 10:00:00,34.1826,-118.4397,0
3,I'm too busy looking for the talent.,2019-08-20 10:00:00,34.1826,-118.4397,0
5,Lucky enough to celebrate the end of Justin’s ...,2019-08-20 10:00:00,34.1826,-118.4397,0
...,...,...,...,...,...
1637,Too awesome! Will be shopping for my Titan pup...,2019-08-20 10:00:00,34.1826,-118.4397,0
1638,This was an awesome find by @MitchTheFort. So ...,2019-08-20 10:00:00,34.1826,-118.4397,0
1639,Some great company here*. *ignoring 2015https:...,2019-08-20 10:00:00,34.1826,-118.4397,0
1640,ur coming out im so proud of u,2019-08-20 10:00:00,34.1826,-118.4397,0
1642,Matt LaFleur’s cut is CLEAN ass hell,2019-08-20 10:00:00,34.1826,-118.4397,0

In [28]:
la_nonfire_1600.to_csv('la_nonfire_1600_tweets.csv', index=False)