## Imports

In [1]:
# Usual imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('../Research Data/nov2.1_df.csv')
print(df.shape)
df.head()

(24410, 8)

,Unnamed: 0,target,text,time,sia_positive,sia_negative,sia_neutral,sia_compound
0,0,0,RT @JulianCastro: My grandmother was a domesti...,10/29/2019 22:56,0.000,0.000,1.000,0.0000
1,1,1,RT @MayorOfLA: #GettyFire update | 8AM:\n\n- 5...,10/29/2019 22:56,0.000,0.000,1.000,0.0000
2,2,1,Getty Fire Ignited by Power Line in Sepulveda ...,10/29/2019 22:56,0.000,0.211,0.789,-0.3400
3,3,1,"RT @latimes: In an ominous new warning, the Na...",10/29/2019 22:56,0.000,0.202,0.798,-0.5859
4,4,1,Arson investigators from the Los Angeles Fire ...,10/29/2019 22:56,0.066,0.122,0.812,-0.2732

In [6]:
df.drop(columns='Unnamed: 0', inplace=True)

In [9]:
df.dtypes

target            int64
text             object
time             object
sia_positive    float64
sia_negative    float64
sia_neutral     float64
sia_compound    float64
dtype: object

In [27]:
data = pd.read_csv('../fire_filtered.csv')
data.shape

(2195, 5)

In [28]:
data.head()

,Unnamed: 0,time,related,informative,text
0,0,10/29/2019 22:56,U,N,RT @JulianCastro: My grandmother was a domesti...
1,1,10/29/2019 22:56,R,I,RT @MayorOfLA: #GettyFire update | 8AM:\n\n- 5...
2,2,10/29/2019 22:56,R,I,Getty Fire Ignited by Power Line in Sepulveda ...
3,3,10/29/2019 22:56,R,I,"RT @latimes: In an ominous new warning, the Na..."
4,4,10/29/2019 22:56,R,I,Arson investigators from the Los Angeles Fire ...

In [29]:
data.drop(columns='Unnamed: 0', inplace=True)

## Time Series

In [24]:
df.shape

(24410, 7)

In [15]:
df['time'].value_counts()

2019-08-20 10:00:00    15999
10/24/2019 23:59          39
10/24/2019 23:36          35
10/24/2019 23:57          32
10/24/2019 23:56          32
                       ...
10/27/2019 0:16            1
10/24/2019 6:46            1
10/27/2019 20:35           1
10/27/2019 15:16           1
10/29/2019 20:12           1
Name: time, Length: 3659, dtype: int64

In [26]:
df1 = df[df['time'] != '2019-08-20 10:00:00']
print(df1.shape)

(8411, 7)

In [23]:
df1['time'].value_counts()

10/24/2019 23:59    39
10/24/2019 23:36    35
10/24/2019 23:56    32
10/24/2019 23:49    32
10/24/2019 23:57    32
                    ..
10/27/2019 11:00     1
2.14764e+17          1
10/24/2019 8:34      1
10/28/2019 15:43     1
10/29/2019 20:12     1
Name: time, Length: 3658, dtype: int64

In [32]:
data['time'] = pd.to_datetime(data['time'])
data.head()

,time,related,informative,text
0,2019-10-29 22:56:00,U,N,RT @JulianCastro: My grandmother was a domesti...
1,2019-10-29 22:56:00,R,I,RT @MayorOfLA: #GettyFire update | 8AM:\n\n- 5...
2,2019-10-29 22:56:00,R,I,Getty Fire Ignited by Power Line in Sepulveda ...
3,2019-10-29 22:56:00,R,I,"RT @latimes: In an ominous new warning, the Na..."
4,2019-10-29 22:56:00,R,I,Arson investigators from the Los Angeles Fire ...

In [33]:
data.set_index('time', inplace = True)
data.sort_index(inplace = True)

In [34]:
data.head()

,related,informative,text
time,,,
2019-10-25 17:59:00,N,U,"b'@Nich0lasDangelo Ok, song aside, that new pf..."
2019-10-25 18:11:00,R,I,"b'RT @KinsellaWine: Fire in Geyserville, one t..."
2019-10-25 18:21:00,R,I,"b'Whelp, nother wildfire about 30 miles north,..."
2019-10-25 18:23:00,R,I,b'RT @tedappel: Broken equipment found on @PGE...
2019-10-25 18:27:00,R,I,"b""Friday fire update from Healdsburg. It's smo..."

In [46]:
data.resample('H').count()

                     related  informative  text
time
2019-10-25 17:00:00        1            1     1
2019-10-25 18:00:00        9            9     9
2019-10-25 19:00:00       24           24    24
2019-10-25 20:00:00       19           19    19
2019-10-25 21:00:00       12           12    12
...                      ...          ...   ...
2019-10-29 18:00:00       56           56    56
2019-10-29 19:00:00      204          204   204
2019-10-29 20:00:00      188          188   188
2019-10-29 21:00:00      354          354   354
2019-10-29 22:00:00      298          298   298

[102 rows x 3 columns]